version: '3.8'

services:
  app:
    build: ./app
    ports:
      - "3000:3000"
    environment:
      - REDIS_HOST=redis_db
    depends_on:
      - redis_db
    networks:
      - devops-net

  redis_db:
    image: redis:alpine
    container_name: redis_container
    ports:
      - "6379:6379"
    networks:
      - devops-net
    volumes:
      - redis-data:/data

networks:
  devops-net:
    driver: bridge

volumes:
  redis-data: